<%= form_with(model: idea, local: true) do |form| %>
  <% if idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :area_of_interest %>
    <%= form.select :area_of_interest, Idea.area_of_interests.keys %>
  </div>

  <div class="field">
    <%= form.label :business_area %>
    <%= form.select :business_area, Idea.business_areas.keys%>
  </div>

  <div class="field">
    <%= form.label :it_system %>
    <%= form.select :it_system, Idea.it_systems.keys %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :idea %>
    <%= form.text_area :idea %>
  </div>

  <div class="field">
    <%= form.label :benefits %>
    <%= form.select :benefits, Idea.benefits.keys %>
  </div>

  <div class="field">
    <%= form.label :impact %>
    <%= form.text_area :impact %>
  </div>

  <div class="field">
    <%= form.label :involvement %>
    <%= form.select :involvement, Idea.involvements.keys %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
