<p class="notice" id="notice"><%= notice %></p>

  
  <h1 class="govuk-heading-l">Home</h1>


<div class="govuk-tabs" data-module="tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#my-ideas">
        My Ideas
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#awaiting-approval">
        Awaiting Approval
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#review-date">
        Review Date
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#uncompleted-ideas">
        All Uncompleted Ideas
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#allocated-ideas">
        My Allocated Ideas
      </a>
    </li>
  </ul>
  <section class="govuk-tabs__panel" id="my-ideas">
    <h2 class="govuk-heading-l">My Ideas</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Idea ID</th>
          <th class="govuk-table__header" scope="col">Title of Idea</th>
          <th class="govuk-table__header" scope="col">Status</th>
          <th class="govuk-table__header" scope="col">Last Updated</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      <% @ideas.each do |idea| %>
        <tr>
          <td class="govuk-table__cell">Idea ID</td>
          <td class="govuk-table__cell"><%= idea.title %></td>
          <td class="govuk-table__cell"><%= idea.status %></td>
          <td class="govuk-table__cell"><%= idea.updated_at %></td>
          <td><%= link_to 'Show', idea %></td>
          <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
          <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="awaiting-approval">
    <h2 class="govuk-heading-l">Awaiting Approval</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Idea ID</th>
          <th class="govuk-table__header" scope="col">Title of Idea</th>
          <th class="govuk-table__header" scope="col">Initiator Name</th>
          <th class="govuk-table__header" scope="col">Submitted Date</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      </tbody>
    </table>
  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="review-date">
    <h2 class="govuk-heading-l">Review Date</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Idea ID</th>
          <th class="govuk-table__header" scope="col">Title of Idea</th>
          <th class="govuk-table__header" scope="col">Initiator Name</th>
          <th class="govuk-table__header" scope="col">Status</th>
          <th class="govuk-table__header" scope="col">Submitted Date</th>
          <th class="govuk-table__header" scope="col">Review Date</th>
        </tr>
      </thead>  
      </tbody>
    </table>
  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="uncompleted-ideas">
    <h2 class="govuk-heading-l">All Uncompleted Ideas</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Idea ID</th>
          <th class="govuk-table__header" scope="col">Title of Idea</th>
          <th class="govuk-table__header" scope="col">Initiator Name</th>
          <th class="govuk-table__header" scope="col">Status</th>
          <th class="govuk-table__header" scope="col">Submitted Date</th>
          <th class="govuk-table__header" scope="col">Review Date</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      </tbody>
    </table>
  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="allocated-ideas">
    <h2 class="govuk-heading-l">My Allocated Ideas</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Idea ID</th>
          <th class="govuk-table__header" scope="col">Participation level</th>
          <th class="govuk-table__header" scope="col">Title of Idea</th>
          <th class="govuk-table__header" scope="col">Area of Intrest</th>
          <th class="govuk-table__header" scope="col">Status</th>
          <th class="govuk-table__header" scope="col">Submitted Date</th>
          <th class="govuk-table__header" scope="col">Review Date</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      </tbody>
    </table>
  </section>
</div>